<html>
  <head>
    <title>Free Speech</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootsrap/3.2.0/css/bootsrtap-theme.min.css">
  </head>
  <body>
    <div>
      <h1><a href="/">Free Speech Blog</a></h1>
    </div>

    {% for post in posts %}
      <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
      </div>
    {% endfor %}
  </body>
</html>
